@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center hero">
    <h1>Rette unsere Welt!</h1>
    <p>Die Menschheit braucht mutige Heldinnen und Helden.</p>

    <a class="btn btn-primary"
       asp-controller="Weltretters"
       asp-action="Create">
        Jetzt die Welt retten
    </a>
</div>

